<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="rikka.shizuku.permission.API_V23" />
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FileExplorer2"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:launchMode="standard"
            android:documentLaunchMode="always"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode|density"
            android:theme="@style/Theme.FileExplorer2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.troikoss.continuum_explorer.OPEN_NEW_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.activities.ArchiveViewerActivity"
            android:exported="true"
            android:label="Archive Viewer"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode|density"
            android:theme="@style/Theme.FileExplorer2">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/java-archive" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/x-rar-compressed" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.ImageViewerActivity"
            android:exported="true"
            android:label="Image Viewer"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode|density"
            android:theme="@style/Theme.FileExplorer2"
            android:documentLaunchMode="always"
            android:launchMode="singleTop"
            android:taskAffinity="" >
            <intent-filter>
                <!-- ACTION_VIEW means this activity can display data to the user -->
                <action android:name="android.intent.action.VIEW" />

                <!-- DEFAULT is required for the activity to be found by implicit intents -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- BROWSABLE allows the activity to be opened from a web browser or link -->
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- This specifies that your app can handle any type of image -->
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.VideoPlayerActivity"
            android:exported="true"
            android:label="Video Player"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode|density"
            android:theme="@style/Theme.FileExplorer2"
            android:documentLaunchMode="always"
            android:launchMode="singleTop"
            android:taskAffinity="" >
            <intent-filter>
                <!-- ACTION_VIEW means this activity can display data to the user -->
                <action android:name="android.intent.action.VIEW" />

                <!-- DEFAULT is required for the activity to be found by implicit intents -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- BROWSABLE allows the activity to be opened from a web browser or link -->
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- This specifies that your app can handle any type of video -->
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.activities.PopUpActivity"
            android:label="File Progress"
            android:theme="@style/Theme.FloatingDialog"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode|density"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:taskAffinity="" />

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="Settings"
            android:theme="@style/Theme.FileExplorer2"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode|density"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:taskAffinity="" />

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:exported="true"
            android:multiprocess="false"
            android:enabled="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <activity
            android:name=".ui.activities.TextEditorActivity"
            android:exported="true"
            android:label="Text Editor"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode|density"
            android:theme="@style/Theme.FileExplorer2"
            android:windowSoftInputMode="adjustResize"
            android:documentLaunchMode="always"
            android:launchMode="singleTop"
            android:taskAffinity="" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <receiver android:name=".utils.NotificationCancelReceiver" android:exported="false">
             <intent-filter>
                <action android:name="continuum_explorer.ACTION_CANCEL_OPERATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.FileOperationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>